# =====================================
# General
# =====================================
*.DS_Store
*.swp
*.swo
*~
Thumbs.db

# =====================================
# Compiled object files
# =====================================
*.o
*.obj
*.lo
*.slo

# =====================================
# Compiled Dynamic Libraries
# =====================================
*.so
*.so.*
*.dylib
*.dll

# =====================================
# Compiled Static Libraries
# =====================================
*.a
*.lib
*.lai

# =====================================
# Executables
# =====================================
*.out
*.exe
*.app
*.i*86
*.x86_64
*.hex

# =====================================
# Debug files
# =====================================
*.dSYM/
*.su
*.idb
*.pdb

# =====================================
# Logs & temporary
# =====================================
*.log
*.cache
*.tmp

# =====================================
# CMake
# =====================================
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# =====================================
# Make
# =====================================
*.make
*.mk
.deps/
*.d

# =====================================
# Visual Studio Code
# =====================================
.vscode/
*.code-workspace

# =====================================
# CLion / JetBrains
# =====================================
.idea/
cmake-build-*/

# =====================================
# Visual Studio
# =====================================
*.user
*.suo
*.ncb
*.sdf
*.vcxproj.*
*.VC.db
*.VC.opendb
Debug/
Release/
x64/
ipch/

# =====================================
# Other build systems
# =====================================
build/
out/
bin/
lib/